{% extends "FrontBundle:general:base.html.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main>
        <section class="row" id="Summary">
            <div class="col-sm-12">
                <header>
                    <h3> Summary </h3>
                </header>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default" id="summaryChart">
                    <div class="panel-heading">Documents evolution over time</div>
                    <div class="panel-body">
                        <canvas id="timeEvolution"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default" id="TweetsPerCategory">
                    <div class="panel-heading">Number of documents per category</div>
                    <div class="panel-body">
                        <canvas id="categoryBarChart"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@FrontBundle/Resources/public/js/dist/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}